.breadcrums-container {
    display: flex;
    align-items: center;
    gap: 5rem;
    position: relative;
    padding: 3rem;
    /* width: 100%; */
    margin-bottom: 2rem;
}

.small-images {
    width: 81px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: fit-content;
    gap: 12px;
}

.images-breadcrums {
    display: flex;
    /* flex-direction: row; */
    gap: 12px;
}

.long-images img {
    width: 355px;
}

.breadcrums-left {
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding-right: 2rem;
}

.product-name {
    font-size: 30px;
    font-weight: 600;
}

.star-section {
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 4px;
}

.star-section span {
    font-size: 15px;
}

.breadcrums-price {
    display: flex;
    gap: 14px;
    font-size: 25px;
    font-weight: 700;
}

.add-cart-button {
    border: none;
    width: fit-content;
    outline: none;
    padding: 10px 36px;
    background-color: #ff4141;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
}


@media (max-width:820px) {
    .breadcrums-container {
        gap: 1rem;
        padding: 52px 10px
    }
    .breadcrums-left {
        padding-right: 1rem;
        gap: 13px;
    }
    .product-name {
        font-size: 24px;
    }
}

@media (max-width:440px){
    .breadcrums-container{
        flex-direction: column;
    }
    .small-images {
        width: 65px;
        gap: 8px;
    }    
    .images-breadcrums {
        gap: 5px;
    }
    .long-images img {
        width: 281px;
    }
    .breadcrums-left {
        padding: 12px;
    }
}